In [48]:
import csv
from sklearn import model_selection
from sklearn import preprocessing
from sklearn import linear_model
import numpy as np
import pandas as pd

In [49]:
#-------------------------------------------------------------
# mini-project workflow
#-------------------------------------------------------------
# Goal : try to make the code work and understand
# how everything work.
# Try to implement the workflow given in activity 3 in 
# an easier way.
# For this little program we use only the white wine quality
# database and only one pair of train/test sets

# DATABASE
#----------------
print("DATA SPLITING\n-------------------------------")

# get the data from the file using pandas
data = pd.read_csv('winequality-white.csv', sep=';')

# split the data in a training set and a data set (50/50). random_state is the seed (for reproducibility)
train_set, test_set = model_selection.train_test_split(data, train_size=0.5, test_size=0.5, random_state=0)

# they are the same size, GOOD!
print("Training set :")
display(train_set)
print("Test set :")
display(test_set)

DATA SPLITING
-------------------------------
Training set :

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
762,6.8,0.24,0.49,19.3,0.057,55.0,247.0,1.00055,3.00,0.56,8.7,5
4264,5.8,0.20,0.16,1.4,0.042,44.0,99.0,0.98912,3.23,0.37,12.2,6
2198,7.1,0.26,0.19,8.2,0.051,53.0,187.0,0.99600,3.16,0.52,9.7,5
789,7.6,0.30,0.27,10.6,0.039,31.0,119.0,0.99815,3.27,0.30,9.3,6
4098,6.6,0.21,0.34,5.6,0.046,30.0,140.0,0.99299,3.22,0.38,11.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
4859,6.0,0.43,0.34,7.6,0.045,25.0,118.0,0.99222,3.03,0.37,11.0,6
3264,5.9,0.24,0.12,1.4,0.035,60.0,247.0,0.99358,3.34,0.44,9.6,6
1653,7.9,0.33,0.28,31.6,0.053,35.0,176.0,1.01030,3.15,0.38,8.8,6
2607,8.9,0.26,0.33,8.1,0.024,47.0,202.0,0.99558,3.13,0.46,10.8,6
2732,7.9,0.51,0.34,2.6,0.049,13.0,135.0,0.99335,3.09,0.51,10.0,5

Test set :

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
2762,7.3,0.32,0.35,1.40,0.050,8.0,163.0,0.99244,3.24,0.42,10.7,5
42,7.0,0.31,0.26,7.40,0.069,28.0,160.0,0.99540,3.13,0.46,9.8,6
1419,7.6,0.14,0.74,1.60,0.040,27.0,103.0,0.99160,3.07,0.40,10.8,7
3664,5.0,0.29,0.54,5.70,0.035,54.0,155.0,0.98976,3.27,0.34,12.9,8
2125,6.0,0.28,0.22,12.15,0.048,42.0,163.0,0.99570,3.20,0.46,10.1,5
...,...,...,...,...,...,...,...,...,...,...,...,...
476,7.4,0.28,0.36,1.10,0.028,42.0,105.0,0.98930,2.99,0.39,12.4,7
3944,6.1,0.27,0.32,6.20,0.048,47.0,161.0,0.99281,3.22,0.60,11.0,6
456,6.3,0.23,0.31,1.50,0.022,11.0,82.0,0.98920,3.30,0.40,12.9,7
108,7.1,0.23,0.35,16.50,0.040,60.0,171.0,0.99900,3.16,0.59,9.1,6
4092,6.4,0.50,0.20,2.40,0.059,19.0,112.0,0.99314,3.18,0.40,9.2,6

In [50]:
# PREPROCESSOR
#----------------

print("PREPROCESSING\n-------------------------------")

# For now we just apply the minmax scaling method
minmax_scaler = preprocessing.MinMaxScaler()

minmax_train = pd.DataFrame(train_set)
minmax_test = pd.DataFrame(test_set)
minmax_train[:] = minmax_scaler.fit_transform(train_set[:])
minmax_test[:] = minmax_scaler.transform(test_set[:])

# print the output
print("MinMax training :")
display(minmax_train)
print("MinMax test :")
display(minmax_test)

PREPROCESSING
-------------------------------
MinMax training :

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
762,0.3750,0.156863,0.49,0.603226,0.142433,0.420635,0.657102,0.574236,0.207921,0.404762,0.051724,0.333333
4264,0.2500,0.117647,0.16,0.025806,0.097923,0.333333,0.232425,0.075109,0.435644,0.178571,0.655172,0.500000
2198,0.4125,0.176471,0.19,0.245161,0.124629,0.404762,0.484935,0.375546,0.366337,0.357143,0.224138,0.333333
789,0.4750,0.215686,0.27,0.322581,0.089021,0.230159,0.289813,0.469432,0.475248,0.095238,0.155172,0.500000
4098,0.3500,0.127451,0.34,0.161290,0.109792,0.222222,0.350072,0.244105,0.425743,0.190476,0.448276,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...
4859,0.2750,0.343137,0.34,0.225806,0.106825,0.182540,0.286944,0.210480,0.237624,0.178571,0.448276,0.500000
3264,0.2625,0.156863,0.12,0.025806,0.077151,0.460317,0.657102,0.269869,0.544554,0.261905,0.206897,0.500000
1653,0.5125,0.245098,0.28,1.000000,0.130564,0.261905,0.453372,1.000000,0.356436,0.190476,0.068966,0.500000
2607,0.6375,0.176471,0.33,0.241935,0.044510,0.357143,0.527977,0.357205,0.336634,0.285714,0.413793,0.500000
2732,0.5125,0.421569,0.34,0.064516,0.118694,0.087302,0.335725,0.259825,0.297030,0.345238,0.275862,0.333333

MinMax test :

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
2762,0.4375,0.235294,0.35,0.025806,0.121662,0.047619,0.416069,0.220087,0.445545,0.238095,0.396552,0.333333
42,0.4000,0.225490,0.26,0.219355,0.178042,0.206349,0.407461,0.349345,0.336634,0.285714,0.241379,0.500000
1419,0.4750,0.058824,0.74,0.032258,0.091988,0.198413,0.243902,0.183406,0.277228,0.214286,0.413793,0.666667
3664,0.1500,0.205882,0.54,0.164516,0.077151,0.412698,0.393113,0.103057,0.475248,0.142857,0.775862,0.833333
2125,0.2750,0.196078,0.22,0.372581,0.115727,0.317460,0.416069,0.362445,0.405941,0.285714,0.293103,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...
476,0.4500,0.196078,0.36,0.016129,0.056380,0.317460,0.249641,0.082969,0.198020,0.202381,0.689655,0.666667
3944,0.2875,0.186275,0.32,0.180645,0.115727,0.357143,0.410330,0.236245,0.425743,0.452381,0.448276,0.500000
456,0.3125,0.147059,0.31,0.029032,0.038576,0.071429,0.183644,0.078603,0.504950,0.214286,0.775862,0.666667
108,0.4125,0.147059,0.35,0.512903,0.091988,0.460317,0.439024,0.506550,0.366337,0.440476,0.120690,0.500000
4092,0.3250,0.411765,0.20,0.058065,0.148368,0.134921,0.269727,0.250655,0.386139,0.214286,0.137931,0.500000

In [51]:
# ALGORITHM
#----------------
print("ALGORITHM COMPUTATION\n-------------------------------")

# pop 'quality' column and put it in the output array
# put the rest in the input array
y_train = minmax_train.pop('quality')
x_train = minmax_train

print("Output Y_train :")
display(y_train)
print("Input X_train :")
display(x_train)

# fit the x and y in the linear regression model
lin_regression = linear_model.LinearRegression()
lin_regression.fit(x_train,y_train)

# TODO : CONTINUE THE ALGO PART, BUILD THE MODEL ETC...

ALGORITHM COMPUTATION
-------------------------------
Output Y_train :

762     0.333333
4264    0.500000
2198    0.333333
789     0.500000
4098    0.333333
          ...
4859    0.500000
3264    0.500000
1653    0.500000
2607    0.500000
2732    0.333333
Name: quality, Length: 2449, dtype: float64

Input X_train :

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
762,0.3750,0.156863,0.49,0.603226,0.142433,0.420635,0.657102,0.574236,0.207921,0.404762,0.051724
4264,0.2500,0.117647,0.16,0.025806,0.097923,0.333333,0.232425,0.075109,0.435644,0.178571,0.655172
2198,0.4125,0.176471,0.19,0.245161,0.124629,0.404762,0.484935,0.375546,0.366337,0.357143,0.224138
789,0.4750,0.215686,0.27,0.322581,0.089021,0.230159,0.289813,0.469432,0.475248,0.095238,0.155172
4098,0.3500,0.127451,0.34,0.161290,0.109792,0.222222,0.350072,0.244105,0.425743,0.190476,0.448276
...,...,...,...,...,...,...,...,...,...,...,...
4859,0.2750,0.343137,0.34,0.225806,0.106825,0.182540,0.286944,0.210480,0.237624,0.178571,0.448276
3264,0.2625,0.156863,0.12,0.025806,0.077151,0.460317,0.657102,0.269869,0.544554,0.261905,0.206897
1653,0.5125,0.245098,0.28,1.000000,0.130564,0.261905,0.453372,1.000000,0.356436,0.190476,0.068966
2607,0.6375,0.176471,0.33,0.241935,0.044510,0.357143,0.527977,0.357205,0.336634,0.285714,0.413793
2732,0.5125,0.421569,0.34,0.064516,0.118694,0.087302,0.335725,0.259825,0.297030,0.345238,0.275862

In [ ]:
# ANALYSIS
#----------------